/*********************Tag Selectors****************/
body {
  margin: 0;
  text-align: center;
}



h1{
  margin: 0 auto;
  width: 10%;

}

/************************Class Selectors********************/
.top-container {
  background-color: #6166B3;
}

/* .middle-container {


.bottom-container {

} */
